<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>React + Spring</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/Semantic-UI/2.2.9/semantic.min.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/Semantic-UI/2.2.9/semantic.min.js}"></script>
    <!--<script type="text/javascript" th:src="@{/js/lib/jspdf.debug.js}"></script>-->
    <!--<script type="text/javascript" th:src="@{/js/lib/jspdf.plugin.autotable.js}"></script>-->
    <script type="text/javascript" th:src="@{/js/lib/pdfmake.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/lib/vfs_fonts.js}"></script>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}"/>
    <link rel="stylesheet" href="/public/styles.css"/>
</head>
<body>
<div id='root'></div>
<!--<form th:action="@{/logout}" method="post">-->
<!--<input class="btn btn-danger center-block" type="submit" value="Logout hambeng"/>-->
<!--</form>-->
<script type="text/javascript" th:inline="javascript">
    window.__PRELOADED_STATE__ =  [[${active}]];
</script>
<script src="/public/bundle.js"></script>
</body>
</html>
